{% extends "blog/base.html" %}
{% block content%}
<div id="generic_price_table">
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1>Pricing Plan</h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">

                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Basic</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">5</span>
                                    <span class="cent">.99</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                                <li><span>+2</span> Analysis Tokens</li>
                                <li><span>1</span> Account</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	{{ form_01.render }}
                        </div>
                        <!--//BUTTON END-->

                        <!--BUTTON START-->
                        <!-- {{ form_01.render }} -->
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

                <div class="col-md-4">

                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">15</span>
                                    <span class="cent">.99</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                                <li><span>+5</span> Analysis Tokens</li>
                                <li><span>1</span> Account</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	{{ form_02.render }}
                        </div>
                        <!--//BUTTON END-->

                        <!--BUTTON START-->
                        <!-- {{ form_02.render }} -->
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
                <div class="col-md-4">

                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Unlimited</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency" id="dynamic">24</span>
                                    <span class="cent" id="dynamicdec">.90</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                                <li>


                                    <form style="incrementerForm">
                                      <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                                      <input type="number" id="number" value="3" />
                                      <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                                    </form>

                                </li>
                                <li><span>1</span> Account</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	{{ form_03.render }}
                        </div>
                        <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="paypal-button" target="_top">
                            <input type="hidden" name="button" value="buynow">
                            <input type="hidden" id="item_name" name="item_name" value="custom3">
                            <input type="hidden" id="cost" name="amount" value="1.00">
                            <input type="hidden" name="currency_code" value="CAD">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="env" value="www.sandbox">
                            <input type="hidden" name="invoice" value="{{ invoice }}">
                            <input type="hidden" name="return" value="https://mywickeddjangoapp.herokuapp.com/paypal-return-03/">
                            <input type="hidden" name="notify_url" value="https://mywickeddjangoapp.herokuapp.com/paypal/">
                            <input type="hidden" name="custom" value="{{ username }}">
                            <input type="hidden" name="rm" value="2">
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="business" value="sb-o81vn645225@business.example.com">
                            <input type="hidden" name="bn" value="JavaScriptButton_buynow">
                            <button type="submit" class="paypal-button large">Buy Now</button>
                        </form>
                        <!--//BUTTON END-->

                        <!--BUTTON START-->
                        <!-- {{ form_03.render }} -->
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
            </div>

            <!--//BLOCK ROW END-->

        </div>

    </section>

</div>


{% endblock content %}
